 
 <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

 @model User

<form method="post" action="/user/Registrar">
    <div>
        <label asp-for="FirstName">Nombre:</label>
        <input type="text" asp-for="FirstName">
        <span asp-validation-for="FirstName"></span>

    </div>
    <div>
                <label asp-for="LastName">Apellido</label>
                <input type="text" asp-for="LastName">
                <span asp-validation-for="LastName"></span>
    </div>
    <div>
                <label asp-for="Email">Email</label>
                <input type="text" asp-for="Email">
                <span asp-validation-for="Email"></span>
    </div>
    <div>
                <label asp-for="Password">Password</label>
                <input type="password" asp-for="Password">
                <span asp-validation-for="Password"></span>
    </div>
    <div>
                <label asp-for="PasswordConfirm">Repetir Password</label>
                <input type="password" asp-for="PasswordConfirm">
                <span asp-validation-for="PasswordConfirm"></span>
    </div>
   
    <button type="submit">Registrar</button>
</form> 